.header{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.back-button{
    border-radius: 100%;
    box-shadow: 2px 3px 5px 5px whitesmoke;
    margin-left: 15px;
    height: 33px;
    width: 33px;
}
.text{
    margin: 0px;
    text-align: center;
    font-size: 18px;
}
ion-input{
    height: 64px;
    max-width: 324px;
    border: solid #0000004f 1px;
    margin: auto;
    border-radius: 6px;
    font-size: 16px;
    --padding-start: 20px;
    --padding-end:16px;
     
    opacity: 1 !important;
     
}
.input-text{
    max-width: 320px;margin: auto;
}
.input-text3{
    max-width: 320px;margin: auto;margin-top: 35px;
}
.start{
    max-width:325px;margin: auto;margin-top: 10px; 
}
 
.input{
    font-size: 18px;
    margin-top: 16px;
}
.input-description{
    height: 122px;
    max-width: 324px;
    border: solid #0000004f 1px;
    margin: auto;
    border-radius: 6px;
    font-size: 16px;
    --padding-start: 20px;
    --padding-end:16px;
     
    opacity: 1 !important;
     
}
.upload{
    font-size: 18px;
    margin-top: 12px;
}
.upload-pic{
    height: 127px;max-width: 331px;border-radius:21px ;border: dashed 1px black;margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-start{
    border: solid #0000004f 1px ; border-radius: 6px;height: 55px;width: 150px;
}
.col-end{
    border: solid  1px #0000004f ; border-radius: 6px;height: 55px;width: 150px;
}
 
.main_content_div {
    padding: 16px;
  
    ion-label {
        display: block;
    }
  
    .stepper_div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;

        .round_div_uncomplete {
            height: 10px;
            width: 10px;
            min-width: 10px;
            margin:10px;
            border-radius: 14px;
            border: 1px solid var(--ion-color-primary);
            background:white;
        }
        .round_div_completed {
            height: 7px;
            width: 15px;
            min-width: 15px;
            margin:10px;
            border-radius: 14px;
            border: 1px solid var(--ion-color-primary);
            background: var(--ion-color-primary);
        }
       
    }
  
}
ion-button{
    margin-top: 10px;
    margin-bottom:20px;
    --color: white;
    text-transform: none;
 
}
ion-toggle{
    --background-checked: rgb(131, 131, 131) ;
}
ion-button#open-modal {
    z-index: 10;
    margin: 5px;
    position: absolute;
    right: 0;
}
//  Ion-modal
ion-modal {
    ion-toolbar {
        --background: #F39200;
       
    }
    #map {
        width: 100%;
        height: 480px;
    }
}
ion-toggle::ng-deep {
    .toggle-inner[part="handle"] {
        will-change: transform;
        background-color: #F39200;
    }
}