capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 100%;
}
ion-header {
  padding: 10px;
  background-color: var(--ion-color-primary);
  text-align: center;
  h2 {
    font-weight: 600;
    color: white;
  }
  ion-card {
    box-shadow: none;
    margin: 13px 20px;
  }
}
.avatar {
  width: 100px;
  height: 100px;
  border: 1px solid var(--ion-color-primary);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  ion-buttons {
    position: absolute;
    bottom: 0;
    right: -10px;
    ion-icon {
      color: var(--ion-color-primary);
      font-size: 28px;
    }
  }
}
ion-toolbar {
  --border-width: 0 0 0px;
  --background: var(--ion-color-primary);
  text-align: center;
  color: white;
  ion-title {
    font-size: 20px;
  }
  ion-buttons {
    ion-back-button {
      color: white;
    }
  }
}
ion-row {
  background-color: #f8f8f8;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.icon-col {
  border-right: 1px solid rgb(160, 157, 157);
  padding: 15px;
  text-align: center;
  ion-icon {
    font-size: 25px;
    color: var(--ion-color-primary);
  }
}
.input-col {
  padding: 10px;
}
.header-md::after {
  left: 0;
  bottom: -5px;
  background-position: left 0 top -2px;
  position: absolute;
  width: 100%;
  height: 5px;
  background-image: none !important;
  background-repeat: repeat-x;
  content: "";
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}
ion-select {
  padding-left: 0px;
}
.search {
  --box-shadow: none !important;
  --border-radius: 10px;
}
.select-city {
  --placeholder-opacity: 9.8;
  --paceholder-color: black;
}
ion-content {
  --ion-background-color: none;
}
ion-segment-button {
  --color: wite;
  --color-checked: white;
}
::ng-deep {
  .gmnoprint.gm-style-mtc-bbw {
  display: none;
}
button.gm-control-active.gm-fullscreen-control, button.gm-svpc {
  display: none;
}
}
.selector {
      width: 150px;
    height: 35px;
    --border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}